@import url("./assets/css/vendors/aos.css");
@import url("./assets/css/vendors/bootstrap.css");
@import url("./assets/css/vendors/iconsax.css");
@import url("./assets/css/vendors/remixicon.css");
@import url("./assets/css/vendors/swiper-bundle.min.css");
@import url("./assets/css/vendors/vendors/aos.css");
@import url("./assets/css/style.css");

.icon-custom {
  font-size: 1.5rem;
  color: #3bedb2;
}

.mobil_custom_menu {
  font-size: 1.5rem;
  color: #3bedb2;
}

.icon_size {
  font-size: 1.5rem;
}

.new_space {
  padding: 0 1rem;
}
